*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 0px;
    font-family: 'Spartan', sans-serif;
    background-color: white;

}  
.header{
    background-color: white ;
    width: 100%;
    height: 50px;
    /* display: flex;
    justify-content: space-between; */
    align-items: right; 
}

.header__menu{
    position: relative;
    background-color: white ;
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 40px;
    width: 100%;
    
    min-width: 320px;
}

.menu-element__img{
    /* height: 40px; */
    position: relative;
    padding: 5px 5px 5px 5px;
    margin-left: 20px;
    margin-right: calc(100% - 800px);

    /* width: 40%; */
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.menu-element__img img{
    height: 35px;
}

.header:hover .menu-element__img:hover{
    transform: scale(1.05);
    opacity: 1;
}

.menu-element {
    padding: 5px 5px 5px 5px;
    margin: 10px 15px 5px 15px;
    cursor: pointer;
    font-size: 22px;
    color: black;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    text-decoration: none;
    transition: transform 0.5s;
}

.header__menu:hover .menu-element:hover{
    transform: scale(1.2);
    opacity: 1;
}
.menu-element__icon{
    padding: 5px 5px 5px 5px;
    margin: 10px 15px 5px 15px;
    cursor: pointer;
    transition: transform 0.5s;
}

.menu-element__icon img {
    height: 25px;
    width: 60px;
}

.header__menu .menu-element__icon{
    display: none;
}

.header__menu:hover .menu-element__icon:hover{
    transform: scale(1.1);
    opacity: 1;
}

/* When the screen is less than 900 pixels wide, hide all links. Show the link that contains should open and close the .header__menu (.menu-element__icon) */
@media screen and (max-width: 900px) {
    .header__menu a:not(:first-child) {display: none;}
    .header__menu a.menu-element__icon {
        display: flex;
        width: 10px;
    }
    .menu-element__icon {
        margin-left: calc(100% - 280px);
    }
    .menu-element__img{
        margin-right: 10px;
    }
}

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 900px) {
    /* .header__menu.responsive {position: relative;} */
    .header__menu.responsive a.menu-element__icon {
        /* width: 100%;*/
        margin-right: 40px;
        align-self: flex-end;
    }
    .header__menu.responsive .menu-element__icon {
        margin-left: 15px;
    }
    .header__menu.responsive  {
        /* margin-top: 100px; */
        /* padding: 10px 40px; */
        /* position: absolute; */
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap; 
    }
    .header__menu.responsive  a{
    
        display: flex;
        flex-direction: column;
        align-items: center;

        /* width: 100%; */

    }
}

.property{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    height: 100%;
    display: flex;
    /* overflow-x: scroll; */
    justify-content: center;
    padding: 10px;
    position: relative;
    flex-direction: column;
    align-content: center;
}

.property__title{
    margin: 20px 20px;
    text-align: center;
}

.property__title-name {
    font-size: 32px;
}

.property__info{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    
    /* flex-wrap: wrap; */

    /* grid-template-columns: 3% auto 1fr 3%;
    display: inline-grid;
    grid-gap: 2rem;
    max-width: 1000px;
    margin: 10px 20px ; */
}

@media(max-width: 850px) {
    .property__info {
        flex-wrap: wrap;
    }
}


.property__info-img{
    
    /* border-radius: 10px; */
    overflow: hidden; 
    margin-right: 10px;
    position: relative;
    max-width: 80%;
    object-fit: contain;

}

@media(max-width: 850px) {
    .destacados-propertyPreview {
        max-width: 100%;
    }
}

.main-img{
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.property__info-details{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    width: 300px;
    height: 150px;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 70px 70px;
    justify-items: center;
    align-items: center;
    background: rgba(235, 235, 235,0.5);
    /* border-radius: 10px; */

}


.info-details__price{
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    margin: 15px 5px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.price__value{
    font-size: 20px;
}

.price__type{
    font-size: 15px;
    color: orange;
}



.info-details__area{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;

}

.area__value {
    
    padding: 0px 4px;
    font-size: 14px;
}

.area__icon{
    padding: 0px 4px;
    height: 25px;
}
.info-details__rooms{

    grid-column: 2 / 2;
    grid-row: 2 / 2;

    margin: 5px 0px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}

.rooms__value {
    padding: 0px 4px;
    font-size: 14px;
}

.rooms__icon{
    padding: 0px 4px;
    height: 25px;
}

.info-details__baths{
    
    grid-column: 3 / 3;
    grid-row: 2 / 2;

    margin: 5px 0px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;

}

.baths__value {
    padding: 0px 4px;
    font-size: 14px;
}

.baths__icon{
    padding: 0px 4px;
    height: 25px;
}

